<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-md fixed-top header-bar">
    <a class="navbar-brand" style="position: absolute">
        <i class="fas fa-utensils fa-lg" id="brand-ico" style="position: relative; bottom: 3px;"></i>
        <span class="pacifico-font">Eaters Club</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline offset-md-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter recipe here..." aria-label="Search">
            <button class="btn btn-warning" type="submit" style="background-color: #ffcd71"><i class="fa fa-search" aria-hidden="true"></i>&#160;Search
            </button>
        </form>

        <ul class="nav ml-auto">
            <li class="nav-item d-flex align-items-center">
                <div sec:authorize="isAuthenticated()">
                    <a th:inline="text">[[${#httpServletRequest.remoteUser}]] </a>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <form th:action="@{/login}" method="get">
                    <button class="btn btn-warning ml-1" id="login-button" type="submit">Log In</button>
                </form>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <form th:action="@{/registration}" method="get">
                    <button class="btn btn-warning ml-1" id="register-button">Register</button>
                </form>                
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-warning ml-1" id="login-button" type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>
</html>
