<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title pacifico-font">French potato</h5>
            </div>

            <div id="recipeCarouselIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators mb-1">
                    <li data-target="#recipeCarouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#recipeCarouselIndicators" data-slide-to="1"></li>
                    <li data-target="#recipeCarouselIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="/img/test1.jpg" class="d-block mx-auto mt-2" style="height: 10em" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/stub.png" class="d-block mx-auto mt-2" style="height: 10em" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/stub.png" class="d-block mx-auto mt-2" style="height: 10em" alt="...">
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <p>French fries are baked in the oven with meat and onions. A very simple recipe, but French potatoes
                    are always very tasty and appetizing.</p>

                <table border="1">
                    <caption>14 servings</caption>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Measurement</th>
                    </tr>
                    <tr>
                        <td>Champignon</td>
                        <td>1</td>
                        <td>kg</td>
                    </tr>
                    <tr>
                        <td>Onion</td>
                        <td>2</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Hard cheese</td>
                        <td>100</td>
                        <td>g.</td>
                    </tr>

                    <tr>
                        <td>Adyghe cheese</td>
                        <td>100</td>
                        <td>g.</td>
                    </tr>

                    <tr>
                        <td>Red tomatoes</td>
                        <td>2</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td>Mustard</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td>Ground black pepper</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>

                    <tr>
                        <td>Vegetable oil</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <span class="fa fa-star" id="star1" onclick="add(1)"></span>
                    <span class="fa fa-star" id="star2" onclick="add(2)"></span>
                    <span class="fa fa-star" id="star3" onclick="add(3)"></span>
                    <span class="fa fa-star" id="star4" onclick="add(4)"></span>
                    <span class="fa fa-star" id="star5" onclick="add(5)"></span>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            <small class="text-muted">#tags</small>
        </div>
    </div>
</div>