<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Картошка по-французски</h5>
            </div>
            <div class="modal-body">
                <div id="recipeCarouselIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators mb-1">
                        <li data-target="#recipeCarouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#recipeCarouselIndicators" data-slide-to="1"></li>
                        <li data-target="#recipeCarouselIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="/img/stub.png" class="d-block mx-auto mt-2" style="width: 10em" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/stub.png" class="d-block mx-auto mt-2" style="width: 10em" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/stub.png" class="d-block mx-auto mt-2" style="width: 10em" alt="...">
                        </div>
                    </div>
                </div>
                <h4>Продукты (на 14 порций)</h4>
                <p>Свинина - 1 кг<br/>
                    Шампиньоны - 1 кг<br/>
                    Лук репчатый - 2 шт.<br/>
                    Сыр твердый - 100 грамм<br/>
                    Сыр адыгейский - 100 грамм<br/>
                    Помидоры красные - 2 шт.<br/>
                    Горчица (готовый соус) - по вкусу<br/>
                    Соль - по вкусу<br/>
                    Перец черный молотый - по вкусу<br/>
                    Масло растительное - для жарки<br/></p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <span class="fa fa-star" id="star1" onclick="add(1)"></span>
                    <span class="fa fa-star" id="star2" onclick="add(2)"></span>
                    <span class="fa fa-star" id="star3" onclick="add(3)"></span>
                    <span class="fa fa-star" id="star4" onclick="add(4)"></span>
                    <span class="fa fa-star" id="star5" onclick="add(5)"></span>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            <small class="text-muted">#tags</small>            
        </div>
    </div>
</div>