<table border="1" align="center">
    <tr>
        <td class="text-center"><strong>Date</strong></td>
        <td class="text-center"><strong>Volume (kg)</strong></td>
    </tr>
    <tr>
        <td class="text-center">
            <input name="Date" maxlength="25" size="10">
        </td>
        <td class="text-center">
            <input name="Volume" maxlength="25" size="10">
        </td>      
    </tr>
    <tr>
        <td class="text-center">15.04.2019</td>
        <td class="text-center">75.5</td>
    </tr>
    <tr>
        <td class="text-center">14.04.2019</td>
        <td class="text-center">75.6</td>
    </tr>
    <tr>
        <td class="text-center">13.04.2019</td>
        <td class="text-center">75.5</td>
    </tr>
    <tr>
        <td class="text-center">12.04.2019</td>
        <td class="text-center">75.5</td>
    </tr>
    <tr>
        <td class="text-center">10.04.2019</td>
        <td class="text-center">75.3</td>
    </tr>
</table>
<br/>
<a href="#" class="btn btn-warning" id="orange-button">Save</a>
<a href="#" class="btn btn-warning" id="black-button">Remove</a>