<!--<form action="#" th:action="@{/index}" th:object="${greeting}" method="post">
                    <p>Id: <input type="text" th:field="*{id}" /></p>
                    <p>Message: <input type="text" th:field="*{content}" /></p>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Clear form" /></p>
                </form>-->


<form th:action="@{/registration}" modelAttribute="userForm" class="p-2 rounded" method="post">
    <h2>Create your account</h2>

    <div class="form-group row">
        <label for="inputEmail" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-warning btn-block">
                <span class="pacifico-font">Sign in</span>
            </button>
        </div>
    </div>
</form>
