<nav class="navbar navbar-expand-md fixed-top" style="background-color: #f2b442">
    <a class="navbar-brand" style="position: absolute">
        <i class="fas fa-utensils fa-lg" style="position: relative; bottom: 3px;"></i>
        <span class="pacifico-font">Eaters Club</span>
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <form class="form-inline offset-md-2">
            <input class="form-control mr-sm-2" type="text" placeholder="Enter recipe here..." aria-label="Search">
            <button class="btn btn-warning" type="submit" style="background-color: #ffcd71"><i class="fa fa-search" aria-hidden="true"></i>&#160;Search
            </button>
        </form>

        <ul class="nav ml-auto">
            <li class="nav-item">
                <button class="btn btn-warning ml-1" id="login-button" type="button" onclick="location.href = '/login'">Log In</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning ml-1" id="register-button" data-toggle="modal" data-target="#registerModal">Register</button>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-warning ml-1" type="submit" value="Sign Out" />
                </form>
            </li>
        </ul>
    </div>
</nav>
