<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/login" method="post">
                    <table>
                        <tr>
                            <td>
                                <strong>Name:</strong>
                            </td>
                            <td>
                                <input name="username" maxlength="25" size="40">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Password:</strong>
                            </td>
                            <td>
                                <input name="userpassword" type="password" maxlength="25" size="40">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" value="LogIn" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
