<table border="1" align="center">
    <tr>
        <td class="text-center"><strong> Ingredient </strong></td>
        <td class="text-center"><strong> Volume (g/ml/pcs) </strong></td>
        <td/>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Lemon</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">2</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Sweet pepper</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">300</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Fresh cucumbers</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">1000</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Fresh tomatoes</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">1000</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Onion</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">500</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Parsley</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">50</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Carrot</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">400</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Apples</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">540</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Flour</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">2000</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Vegetable oil</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">800</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Ground black pepper</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">50</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Chiken</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">450</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Butter</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">180</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>

    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Meat (beef)</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">2000</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>

    <tr>
        <td class="text-center">
            <a href="#" style="color: blue">Egg</a><br/>
        </td>
        <td class="text-center">
            <a href="#" style="color: blue">10</a><br/>
        </td>
        <td class="text-center">
            <a href="#" class="btn btn-warning" id="black-button">Remove</a>
        </td>
    </tr>
</table>
<br/>
<a href="#" class="btn btn-warning" id="orange-button">Add ingredient</a>