@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    padding-top: 4rem;
    background-color: #fff7e8;
}

.carousel-indicators li {
    background-color: #fcd896;
}

.carousel-indicators .active {
    background-color: orange;
}

.carousel-control-prev {
    position: absolute;
    top: 40%;
    left: 5em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: orange;
}

.carousel-control-next {
    position: absolute;
    top: 40%;
    right: 5em;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: orange;
}

.carousel-inner {
    display: inline-block;
    vertical-align: middle;
}

.panel {
    height: 100%;
    background-color: #ffe5b4;
}

.pacifico-font {
    font-family: 'Pacifico', cursive;
    font-size: 1.3em;
}

.rating {
    position: absolute;
    right: 1em;
    bottom: 7.6em;
}

.red-star {
    color: red;
}

.star-checked {
    color: orange;
    text-shadow: 0 0 5px black;
}

.modal-dialog-centered {
    width: 20em;
}

.modal-content {
    background-color: #fff7e8;
}

.navabar-brand {
    position: absolute;
    color: black;    
}

.navbar-brand:hover {  
    text-shadow: 0 0 20px white, 0 0 20px white, 0 0 20px white;
}

.header-bar {
    background-color: #f2b442;
    box-shadow: 0px 5px 3px #f2b442, 0px 5px 5px #fff7e8;
}

#card-description-1 {
    height: 3em;
}

#orange-button {
    background-color: #ffcd71;
}

#dropdownMenuButton {
    background-color: #ffcd71;
    color: black;
}

#black-button {
    font-weight: bold;
    color: #ffcd71;
    background-color: #1a1a1a
}

#brand-ico {
    text-shadow: 0 0 10px #fff7e8, 0 0 10px #fff7e8, 0 0 10px #fff7e8;
}

#eclub-logo {
    width: 12em;
    border-radius: 50%;
}

#eclub-logo:hover {
    box-shadow: 0 0 20px orange, 0 0 20px orange, 0 0 20px orange;
}